[buildout]
parts = 
    zope2
    instance
    test
    pylint
extends = http://dist.plone.org/release/3.2.1/versions.cfg
versions = versions
find-links =
    http://dist.plone.org/release/3.2.1
    http://download.zope.org/ppix/
    http://download.zope.org/distribution/
    http://effbot.org/downloads
eggs = jcu.shibboleth.pas
develop = .


[zope2]
recipe = plone.recipe.zope2install
fake-zope-eggs = true
additional-fake-eggs = 
    ZODB3
url = ${versions:zope2-url}


[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
eggs =
    Plone
    ${buildout:eggs}
zcml =
    jcu.shibboleth.pas


[test]
recipe = collective.xmltestreport
eggs = jcu.shibboleth.pas
extra-paths = ${zope2:location}/lib/python
defaults = ['--exit-with-status', '--auto-color', '--auto-progress']


[pylint]
recipe = zc.recipe.egg
eggs =
    ${buildout:eggs}
    logilab.pylintinstaller
entry-points = pylint=pylint.lint:Run
arguments = sys.argv[1:]

